/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    max-width: 100%;
}

/* -- HEADER --  */


header {
    background-color: rgb(216, 216, 216);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

nav {
    width: 100vw;
    height: 2em;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(216, 216, 216);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: black;
    font-family: inherit;
}

.menu li img,
.menu li a img {
    width: 1.5em;
}

.dropdown li {
    color: red;
    font-size: 1.3em;
    text-decoration: underline;
}

/* 48em = 768px */

.nav ul li a {
    width: 100%;
    text-align: center;
    font-size: 2em;
    display: block;
    z-index: 5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    top: 2em;
    overflow: hidden;
    transition: .5s;

}

.dropdown {
    clear: both;
    max-height: 0;
    cursor: pointer;
    display: inline-block;
    padding: 1.5em 1em;
    position: relative;
    user-select: none;

}

.dropdown ul {
    position: absolute;
    width: 100%;
    height: calc(100vh);
    left: 0em;
    top: -3.86em;
    flex-direction: column;
    align-items: center;
    background-color: #FF9F9F;
    top: -0.625em;
    bottom: -2.5em;
    max-height: 0em;
    overflow: hidden;
    transition: .5s;
}

/* -- MAIN BEGINT VANAF HIER -- */
.containereen {
    display: block;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    top: 3em;
}

.living {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    top: auto;
    border-bottom: 3em;
}

h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 9em;
    font-size: 2em;
    color: white;
    text-align: center;
}

.buttoneen {
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 15%;
    margin-right: 50%;
}

.button {
    width: 12em;
    height: 36px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    position: relative;
    text-align: center;
    line-height: 1.8em;
    font-size: 16px;
    border-radius: 50px;
    margin-right: 1em;

}

.een {
    width: 12em;
    color: white;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

/* -- CAROUSEL -- */

.carousel {
    background-color: rgb(216, 216, 216);
    width: 100%;
    display: block;
    position: static;
}

.inhoud {
    background-color: rgb(216, 216, 216);
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 3em;
}

.holder {
    background-color: rgb(216, 216, 216);
    max-width: 70%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    position: relative;
    flex-shrink: 0;
    padding-left: 3em;
    border-right: 2px solid black;
}

.boxen_img {
    background-color: rgb(216, 216, 216);
    object-fit: cover;
    width: 100%;
}

.ruimte {
    display: flex;
    flex-direction: column;
}

h2 {
    display: flex;
    font-size: 16px;
    line-height: 2em;
    font-weight: bold;
}

.soortbox {
    display: flex;
    font-size: 12px;
    line-height: 2em;
}

.prijs {
    display: flex;
    font-size: 16px;
    line-height: 2em;
    font-weight: bold;
}

/* -- DOLBY ATMOS -- */

.dolbyatmos {
    display: block;
    background-color: #d8a158;
    padding: 30px;

}

.intop_dolbyatomos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 15px 0px 15px;
}

h3 {
    font-size: 32px;
    letter-spacing: 0.4px;
    word-spacing: 0.1em;
    font-weight: 500;
    margin-bottom: 13px;
    text-align: center;
    max-width: 100%;
}

.twee {
    font-size: 14px;
    color: black;
    text-decoration: underline;
    word-spacing: 0.4px;
    letter-spacing: 0.3px;
    line-height: 1.6em;
    cursor: pointer;
    font-weight: 200;
}

figure {
    width: 144px;
    overflow: hidden;
    margin: 0;
    border-top: 15px;
}

figure img {
    display: block;
    width: 100%;
    margin: -2% 3;
    padding-top: 2em;
}

.inbottom_dolbyatomos {
    width: 100%;
    background-color: #d8a158;
}

/* -- DE SONOS MOVE WIT --*/

.movewit {
    display: block;
    background-color: #1c5f4a;
    padding: 30px;
    height: 650px;
}

.lunar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 28px;
}

.drie {
    color: rgb(255, 255, 255, 0.8);
    font-size: 32px;
    line-height: 1.27em;
    letter-spacing: .4px;
    font-weight: 500;
    margin-right: 20%;
    text-align: start;
}

.lunar p {
    color: rgb(255, 255, 255, 0.8);
    line-height: 1.6em;
    letter-spacing: .3px;
    word-spacing: .4px;
    font-weight: 200;
    font-size: 14px;
    margin-bottom: 14px;
}

.vier {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: rgba(255, 255, 255, 0.8);
    padding: 3px;
    color: rgb(255, 255, 255, 0.8);
    font-size: 14px
}

.wittebox {
    width: 50px;
    overflow: hidden;
    margin: 0;
    border-top: 15px;
}

.wittebox img {
    width: 70%;
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 8%;
}

.vijf {
    display: block;
    width: 100%;
    height: 200px;
    background-color: rgb(216, 216, 216);
}

/*--SONOS STATION BEGINT HIER--*/
.stationseen {
    display: block;
    background-color: rgba(216, 216, 216, 1);
}

.stationsinhoud {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 28px;
}

.ontdek {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0px 30px 30px 30px;
    font-weight: 350;
    line-height: 1.6;
    letter-spacing: .3px;
    word-spacing: .4px;
    font-size: 14.6px;
}

.zes {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 0, 0, 1);
    padding: 3px;
    color: rgb(0, 0, 0, 1);
    font-size: 14.6px;
    font-weight: 350;
    letter-spacing: .3px;
    word-spacing: .4px;
}

.stations {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    list-style: none;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.stations li {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    flex-shrink: 0;
    object-fit: cover;
    cursor: pointer;

}

.stations li img {
    width: 100%;
    height: 100%;
}

/*--dit is nu een figcaption--*/
figcaption {
    display: flex;
    text-align: left;
    margin-top: 13px;
    padding: 0px 70px 50px 70px;
    font-weight: 350;
    line-height: 1.6;
    letter-spacing: .3px;
    word-spacing: .4px;
    font-size: 14.6px;
}

/*--KERST OP EEN KLEEDJE BEGINT HIER--*/

.kerst {
    display: block;
    padding: 30px;
    height: 650px;
    background-image: url("images/kerstachtergrond.png");
    background-repeat: no-repeat;
    background-color: #bb4725;
}

.kerstinhoud {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 28px;
}

.kersttitel {
    color: rgb(255, 255, 255, 0.8);
    font-size: 32px;
    line-height: 1.27em;
    letter-spacing: .4px;
    font-weight: 500;
    margin-right: 20%;
    text-align: start;
}

.kersttekst {
    color: rgb(255, 255, 255, 0.8);
    line-height: 1.6em;
    letter-spacing: .3px;
    word-spacing: .4px;
    font-weight: 200;
    font-size: 14px;
    margin-bottom: 14px;
}

.buttontwee {
    width: 8em;
    height: 36px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    position: relative;
    text-align: center;
    line-height: 1.8em;
    font-size: 16px;
    border-radius: 50px;
    margin-right: 1em;
}

.kerstbox {
    width: 50px;
    overflow: hidden;
    margin: 0;
    border-top: 15px;
}

.kerstbox img {
    width: 84%;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 0;

}

.zeven {
    display: block;
    width: 100%;
    height: 120px;
    background-color: rgb(216, 216, 216);
}

/*---WAAROM SONOS ----*/
.waarom {
    padding: 70px 30px 70px 30px;
    display: block;
    background-color: #1c5f4a;
    color: rgb(255, 255, 255, 0.8);
    margin: -5px;
    text-align: left;
}

.waaromfoto {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    background-color: #1c5f4a;
}

.rechts {
    display: flex;
    width: 300px;
    justify-content: flex-end;
    align-content: flex-end;
    top: 100%;
    left: 500%;
}

.links {
    overflow: hidden;
    width: 200px;
    top: 100%;
    left: 500%;

}

article {
    padding: 30px;
    display: block;
    background-color: #1c5f4a;
    color: rgb(255, 255, 255, 0.8);
}

article h3 {
    display: flex;
    padding-top: 61px;
    padding-left: 30px;
    padding-bottom: 76px;
    margin: 0em;
    color: rgb(255, 255, 255, 0.8);
    font-size: 32px;
    line-height: 1.27em;
    letter-spacing: .4px;
    font-weight: 500;
    text-align: start;
}

article img {
    position: relative;
    display: flex;
    justify-content: space-around;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid;
    letter-spacing: .2px;
    box-sizing: border-box;

}

article div {
    padding-top: 30px;
    padding-bottom: 30px;
}

article p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: .5px;
    word-spacing: .6px;
}

.ptwee {
    border-bottom: 1px solid;
    border-top: 1px solid;
}

/*--- FOOTER BEGINT VANAF HIER---*/

footer {
    padding: 31px 40px 60px 40px;
    color: black;
    background-color: rgb(216, 216, 216);

}

.footera {
    padding: 0;
    list-style: none;
    margin: 0 30px 30px 0;
}

.footera li a {
    font-size: 21px;
    line-height: 2em;
    letter-spacing: .2px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0, 0.8);
    ;
    font-weight: 400;
}

.footera li a:hover {
    text-decoration: overline;
    transition: transform 0.3s ease;
}

.footerb {
    padding: 0;
    list-style: none;
    margin: 0 30px 30px 0;
}

.footerb li a {
    font-size: 12px;
    line-height: 3em;
    letter-spacing: .2px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0, 0.8);
    font-weight: 400;
}

.footerb li a:hover {
    text-decoration: overline;
    transition: transform 0.3s ease;
}

.social {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 60px;
    margin-bottom: 30px;

}

.social img {
    width: 30px;
    list-style: none;
    text-decoration: none;

}

.onderschrift {
    padding-top: 20px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    padding-right: 60px;
}

.onderschrift a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.8);
    line-height: 2em;
    letter-spacing: .3px;
    word-spacing: .6px;
}

/*-- HIER EINDIGT DE HOME PAGE ---*/

/*--- HIER BEGINT DE NIEUWS PAGINA---*/

/*--- HIER BEGINT DE HEADER FOTO---*/
.nieuwskamer {
    display: block;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    top: 3em;
}

.kamer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    top: auto;
    border-bottom: 3em;
}

h1 {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 9em;
    font-size: 2em;
    color: white;
    text-align: center;
}

/*--- Hier begint de select en mailto---*/

.body {
    background-color: rgb(216, 216, 216);
    padding: 15px;
}

.keuze {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding-top: 30px;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 700;

}

.mailen {
    color: rgb(0, 0, 0, 0.8);
}

select {
    appearance: none;
    background-color: #fafafa;
    border: none;
    padding: 12px 18px 12px 18px;
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
}

/*---Hier begint de Blog---*/

.container {
    max-width: 100%;
    padding-top: 20px;
    margin: auto;

}

.container ul {
    list-style: none;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.container ul li {
    margin-bottom: 2.5rem;
}

.container ul li img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    max-height: 240px;
    min-height: 240px;
}

.container ul li a {
    text-decoration: none;
    display: block;
    background-color: white;
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    color: rgb(0, 0, 0, 0.8);
    line-height: 1.2em;
    border: 25px solid white;
}
