/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

/* header */
.header {
    background-color: rgb(216, 216, 216);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(216, 216, 216);
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: black;
    font-family: inherit;
}

.header li a:hover,
.header .menu-btn:hover {
    text-decoration: underline;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;

}


/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: rgb(216, 216, 216);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: rgb(216, 216, 216);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: right;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: left;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

.menu2 {
    clear: both;
    max-height: 0;
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

#stylen {
    position: relative;
    flex: row;
    justify-content: space-between;
    align-items: center;
}

/*main, hier begint de inhoud van de website*/


.1 {
    height: auto;
    width: 100%;
    max-width: 400px;
    display: block;
    box-sizing: border-box;
    object-fit: cover;
}
