/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    max-width: 100%;
}

/* -- Keyframes boven aan voor best practice --  */
/* --- animation button draait een rondje --- */

@keyframes koop-nu-animation {
    0% {
        transform: scale(1), rotate(0);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}

.twee:hover {
    animation-name: koop-nu-animation;
    animation-duration: 1s;
}

/*--- animation quizz button ---*/

@keyframes quiz-button-animation {
    0% {
        background-color: transparent;
        color: white;
    }

    100% {
        background-color: white;
        color: black;
    }
}

.buttontwee:hover {
    animation-name: quiz-button-animation;
    animation-duration: 2s;
    /*--anitmaite herhaalt zich oneindig---*/
    animation-iteration-count: infinite;

}

/*-----underline-------*/

@keyframes streepje-animation {
    0% {
        text-decoration: none;
    }

    100% {
        text-decoration: underline;
    }
}

.footera li:hover a {
    animation-name: streepje-animation;
    animation-duration: 1s;
}

.footerb li:hover a {
    animation-name: streepje-animation;
    animation-duration: 1s;
}


/* -- HEADER --  */
/* -- UITVOUW MENU--  */
header {
    background-color: rgb(216, 216, 216);
    box-shadow: 0.06em 0, 06em 0.25em 0em rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    display: inline;
}

header a {
    text-decoration: none;
}

header > a:first-of-type {
    padding: 0.5em;
    display: grid;
    grid-gap: .25em;
    align-items: center;
}

header > a:first-of-type img {
    height: 1.5em;
}

nav {
    width: 100vw;
    height: 3em;
    order: -1;
}

nav button {
    position: relative;
    width: 5em;
    height: 2.5em;
    font-size: 1em;
    background-color: transparent;
    border: none;
    border-radius: .25em;
    appearance: none;
    cursor: pointer;
    z-index: 100;
    top: 0.875em;
}

/*--Content: "\2630" is het importeren van een hamburger icoon dat in een database staat---*/
.navigatie button::before {
    content: "\2630 ";
    display: inline-block;
    width: 1em;
    transform: scale(2);
    border: none;
}

/*--Content: "\2715" is het importeren van een kruis icoon dat in een database staat. Bron
https://www.w3schools.com/csSref/css_entities.asp ---*/
nav.toonDropdown button::before {
    content: "\2715";
    border: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(216, 216, 216);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translatex(-100%);
    transition: .5s;
    z-index: 50;
}

.dropdown {
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    font-size: 1em;
    padding-left: 2em;
    padding-top: 3.5em;
}

nav.toonDropdown ul {
    transform: translatex(0);
    transition: .5s;
}

.dropdown li {
    margin: 0;
    padding: 0;
    margin-bottom: 0.6875em;
    display: inline-block
}

.dropdown li a {
    display: inline-block;
    padding-left: 1em;
    text-decoration: none;
    color: black;
    padding: 0;
}

.groter {
    font-size: 2.06em;
    padding: 0em;
    margin: 0em;
    text-align: left;
}



/*---Menu---*/
/*--- De rest van de header---*/

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-height: 0;
    cursor: pointer;
    position: relative;
    list-style: none;
    top: -1.25em;
    padding: 0.625em;
    margin-left: 1em;

}

.menu ul {
    display: flex;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(216, 216, 216);
}

.menu li {
    color: black;
    font-size: 1.3em;
    text-decoration: underline;
}

.menu li:first-of-type {
    margin-right: 35%;
}

.nav ul li a {
    display: block;
    padding: 1.25em;
    text-decoration: none;
    color: black;
    font-family: inherit;

}

.menu ul {
    position: absolute;
    width: 100%;
    height: calc(100vh);
    left: 0em;
    top: -3.86em;
    flex-direction: column;
    align-items: center;
    background-color: #FF9F9F;
    top: -0.625em;
    bottom: -2.5em;
    max-height: 0em;
    overflow: hidden;
    transition: .5s;
}

.menu li {
    width: 1em;
}

.logo {
    width: 4.5em;
    position: absolute;
    top: 44%;
    margin-left: 38%;
}

/* -- MAIN BEGINT VANAF HIER -- */
/*--- eerste achtergrond foto met knoppen---*/
.containereen {
    display: block;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    top: 3em;
}

.living {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    top: auto;
    border-bottom: 3em;
}

h1:first-of-type {
    top: 25%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 9em;
    font-size: 2em;
    color: white;
    text-align: center;
}

.buttoneen {
    position: absolute;
    top: 34%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 15%;
    margin-right: 50%;
}

.button {
    width: 12em;
    height: 2.25em;
    border: 0.125em solid white;
    background-color: transparent;
    color: white;
    position: relative;
    text-align: center;
    line-height: 1.8em;
    font-size: 1em;
    border-radius: 3.125em;
    margin-right: 1em;
    text-decoration: none;

}

.een {
    width: 12em;
    color: white;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

/* -- CAROUSEL MET BOXEN -- */

.carousel {
    background-color: rgb(216, 216, 216);
    width: 100%;
    display: block;
    position: relative;
}

.inhoud {
    background-color: rgb(216, 216, 216);
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 3em;
}

.holder {
    background-color: rgb(216, 216, 216);
    max-width: 70%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    position: relative;
    flex-shrink: 0;
    padding-left: 3em;
    border-right: 0.125em solid black;
}

.boxen_img {
    background-color: rgb(216, 216, 216);
    object-fit: cover;
    width: 100%;
}

.ruimte {
    display: flex;
    flex-direction: column;
}

h2:nth-of-type(1) {
    display: flex;
    font-size: 1em;
    line-height: 2em;
    font-weight: bold;
}

.soortbox {
    display: flex;
    font-size: 0.75em;
    line-height: 2em;
}

.prijs {
    display: flex;
    font-size: 0.75em;
    line-height: 2em;
    font-weight: bold;
}

/* -- DOLBY ATMOS -- */

.dolbyatmos {
    display: block;
    background-color: #d8a158;
    padding: 1.875em;

}

.intop_dolbyatomos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0em 0.937em 0em 0.937em;
}

h3 {
    font-size: 2em;
    letter-spacing: 0.025em;
    word-spacing: 0.1em;
    font-weight: 500;
    text-align: center;
    max-width: 100%;
}

.twee {
    font-size: 0.875em;
    color: black;
    text-decoration: underline;
    word-spacing: 0.025em;
    letter-spacing: 0.01875em;
    line-height: 1.6em;
    cursor: pointer;
    font-weight: 200;
}

.dolby {
    width: 9em;
    overflow: hidden;
    margin: 0;
    border-top: 0.9375em;
}

.dolby img {
    display: block;
    width: 100%;
    margin: 2%;
    padding-top: 2em;
}

.inbottom_dolbyatomos {
    width: 100%;
    background-color: #d8a158;
}


/* -- DE SONOS MOVE WIT --*/

.movewit {
    display: block;
    background-color: #1c5f4a;
    padding: 1.875em;
    height: 40.625em;
}

.lunar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 1.75em;
}

.drie {
    color: rgb(255, 255, 255, 0.8);
    font-size: 2em;
    line-height: 1.27em;
    letter-spacing: 0.025em;
    font-weight: 500;
    margin-right: 20%;
    text-align: start;
}

.lunar p {
    color: rgb(255, 255, 255, 0.8);
    line-height: 1.6em;
    letter-spacing: 0.01875em;
    word-spacing: 0.025em;
    font-weight: 200;
    font-size: 0.875em;
    margin-bottom: 0.875em;
}

.vier {
    background-color: transparent;
    border: none;
    border-bottom: 0.0625em solid;
    border-bottom-color: rgba(255, 255, 255, 0.8);
    padding: 0.1875em;
    color: rgb(255, 255, 255, 0.8);
    font-size: 0.875em;
    text-decoration: none;
}

.wittebox {
    width: 3.125em;
    overflow: hidden;
    margin: 0;
    border-top: 0.9375em;
}

.wittebox img {
    width: 70%;
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 8%;
}

.vijf {
    display: block;
    width: 100%;
    height: 12.5em;
    background-color: rgb(216, 216, 216);
    margin: 0;
}

/*--SONOS STATION BEGINT HIER--*/
.stationseen {
    display: block;
    background-color: rgba(216, 216, 216, 1);
}

.stationsinhoud {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ontdek {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0em 1.875em 1.875em 1.875em;
    font-weight: 300;
    line-height: 1.6em;
    letter-spacing: 0.01875em;
    word-spacing: 0.025em;
    font-size: 0.9125em;
}

.zes {
    background-color: transparent;
    border: none;
    border-bottom: 0.0625em solid;
    border-bottom-color: rgba(0, 0, 0, 1);
    padding: 0.1875em;
    color: rgb(0, 0, 0, 1);
    font-size: 0.9125em;
    font-weight: 300;
    letter-spacing: 0.01875em;
    word-spacing: 0.025em;
    text-decoration: none;
}

.stations {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 28em;
}

.stationsOpmaak {
    display: flex;
    flex-direction: row;
    min-width: 1000%;
    overflow-x: scroll;
}

.stationsOpmaak figure {
    overflow: hidden;
    margin: 0;
    border-top: 0.9375em;
    justify-content: center;
    margin: 1em;
}

.plaat {
    display: block;
    object-fit: cover;
    box-sizing: border-box;

}

figcaption {
    display: flex;
    text-align: left;
    margin-top: 0.9375em;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.01875em;
    word-spacing: 0.025em;
    font-size: 0.9125em;
}

/*--KERST OP EEN KLEEDJE BEGINT HIER--*/

.kerst {
    display: block;
    padding: 1.875em;
    height: 40.625em;
    background-image: url("../images/kerstachtergrond.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.kerstinhoud {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 1.75em;
}

.kersttitel {
    color: rgb(255, 255, 255, 0.8);
    font-size: 2em;
    line-height: 1.27em;
    letter-spacing: 0.025em;
    font-weight: 500;
    margin-right: 20%;
    text-align: start;
}

.kersttekst {
    color: rgb(255, 255, 255, 0.8);
    line-height: 1.6em;
    letter-spacing: 0.081875em;
    word-spacing: 0.025em;
    font-weight: 200;
    font-size: 0.875em;
    margin-bottom: 0.875em;
}

.buttontwee {
    width: 8em;
    height: 2.25em;
    border: 0.125em solid white;
    background-color: transparent;
    color: white;
    position: relative;
    text-align: center;
    line-height: 1.8em;
    font-size: 1em;
    border-radius: 3.125em;
    margin-right: 1em;
    text-decoration: none;
}

.kerstbox {
    width: 3.125em;
    overflow: hidden;
    margin: 0;
    border-top: 0.9375em;
}

.kerstbox img {
    width: 84%;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 0;

}

.zeven {
    display: block;
    width: 100%;
    height: 7.5em;
    background-color: rgb(216, 216, 216);
    margin: 0;
}



/*---WAAROM SONOS ----*/
.waarom {
    padding: 1.5em 1em 1.5em 0.8em;
    display: block;
    background-color: #1c5f4a;
    color: rgb(255, 255, 255, 0.8);
    margin-bottom: -0.3125em;
    text-align: left;
}

.waaromfoto {
    display: flex;
    background-color: #1c5f4a;
flex-direction: row-reverse;
}

.rechts {
    display: flex;
    width: 16em;
    margin-left: 7.2em;
}

.links {
    width: 13em;
    z-index: 1;
    position: absolute;
    margin-left: 2%;
    margin-top: 1em;
}

article {
    padding: 1.875em;
    display: block;
    background-color: #1c5f4a;
    color: rgb(255, 255, 255, 0.8);
    margin-top: -0.5%;
}

article h3 {
    display: flex;
    padding-top: 3.8125em;
    padding-left: 3.75em;
    padding-bottom: 4.75em;
    margin: 0em;
    color: rgb(255, 255, 255, 0.8);
    font-size: 2em;
    line-height: 1.27em;
    letter-spacing: 0.025em;
    font-weight: 500;
    text-align: start;
}

article img {
    position: relative;
    display: flex;
    justify-content: space-around;
}

h4 {
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 0.0625em solid;
    letter-spacing: .0125em;
    display: inline;

}

article div {
    padding-top: 1.875em;
    padding-bottom: 1.875em;
}

article p {
    font-size: 0.9375em;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.03125em;
    word-spacing: 0.0375em;
}

.ptwee {
    border-bottom: 0.0625em solid;
    border-top: 0.0625em solid;
}

/*--- FOOTER BEGINT VANAF HIER---*/

footer {
    padding: 1.9375em 2.5em 1.9375em 2.5em;
    color: black;
    background-color: rgb(216, 216, 216);
    margin-top: -0.125em;
}

.footera {
    padding: 0;
    list-style: none;
    margin: 0 1.875em 1.875em 0;
}

.footera li a {
    font-size: 1.3125em;
    line-height: 2em;
    letter-spacing: 0.0125em;
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0, 0.8);
    font-weight: 400;
}

.footerb {
    padding: 0;
    list-style: none;
    margin: 0 1.875em 1.875em 0;
}

.footerb li a {
    font-size: 0.65em;
    font-weight: 200;
    line-height: 2.2em;
    letter-spacing: 0.0125em;
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0, 0.8);
}

.social {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 3.75em;
    margin-bottom: 1.875em;
}

.social img {
    width: 12%;
    height: auto;
    height: auto;
    list-style: none;
    text-decoration: none;
}

.onderschrift {
    padding-top: 1.25em;
    font-size: 0.75em;
    font-weight: 400;
    cursor: pointer;
    padding-right: 3.75em;
}

.onderschrift a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.8);
    line-height: 2em;
    letter-spacing: 0.01875em;
    word-spacing: 0.0375em;
}


/*-- HIER EINDIGT DE HOME PAGE ---*/

/*--- HIER BEGINT DE NIEUWS PAGINA---*/

/*--- HIER BEGINT DE HEADER FOTO---*/
.nieuwskamer {
    display: block;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    top: 3em;
}

.kamer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    top: auto;
    border-bottom: 3em;
}

.nieuws {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 9em;
    font-size: 2em;
    color: white;
    text-align: center;
}

/*--- Hier begint de select en mailto---*/

.body {
    background-color: rgb(216, 216, 216);
    padding: 0.9375em;
}

.keuze {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding-top: 1.875em;
    padding-bottom: 0.625em;
    line-height: 1em;
    font-weight: 700;

}

.mailen {
    color: rgb(0, 0, 0, 0.8);
}

select {
    appearance: none;
    background-color: #fafafa;
    border: none;
    padding: 0.75em 1.125em 0.75em 1.125em;
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
}

/*---Hier begint de Blog---*/

.container {
    max-width: 100%;
    padding-top: 1.25em;
    margin: auto;

}

.container ul {
    list-style: none;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.container ul li {
    margin-bottom: 2.5rem;
}

.container ul li img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    max-height: 15em;
    min-height: 15em;
}

.container ul li a {
    text-decoration: none;
    display: block;
    background-color: white;
    text-align: left;
    font-size: 1.375em;
    font-weight: 700;
    color: rgb(0, 0, 0, 0.8);
    line-height: 1.2em;
    border: 1.5625em solid white;
}

.container ul li button {
    text-decoration: none;
    display: block;
    background-color: white;
    text-align: left;
    font-size: 1.375em;
    font-weight: 700;
    color: rgb(0, 0, 0, 0.8);
    line-height: 1.2em;
    border: 1.5625em solid white;
}

.mandjeplus {
    color: black;
    background-color: white;
    border-radius: 90%;
    font-size: 0.7em;
    text-decoration: none;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    position: absolute;
    z-index: 100;
    margin-left: 23em;
}

.none {
    display: none;
}

/*---EINDE VAN DE CODE---*/
